/* :root {
  --color-blue-400: #53b1fd;
  --color-blue-500: #68b4ff;
  --color-blue-800: #1849a9;

  --color-grey-100: #f9f8fa;
  --color-grey-200: #f5f4f8;
  --color-grey-300: #efecf3;
  --color-grey-400: #d5d2dc;
  --color-grey-500: #bbb7c5;
  --color-grey-600: #9691a4;
  --color-grey-700: #666276;
  --color-grey-800: #454056;
  --color-grey-900: #1f1b2d;

  --color-success: #07c98b;
  --color-danger: #f23c49;
  --color-warning: #fdbc31;
  --color-info: #3c76f2;

  --color-primary: #fd5631;
  --color-accent: #5d3cf2;
  --color-white: #ffffff;

  --color-background: #f5f5f5;
  --color-footer-background: #222529;
  --font-primary: "Poppins", sans-serif;

  --box-shadow-1: 0px 0px 7px rgba(16, 24, 40, 0.05);
} */
