/* 

Template: Real State Landing Page 
Author: Shuvo Mallick
Description: Real State Template
Version: 1.0.0
Keywords: Real State, Template etc. 

*/

/* ===== style list table ===== */
/* 
  1. header section
  2. hero section
  3. How Its works section
  4. Featured Properties
  5. Statistics section 
  6. How Its works
  7. footer 
  
  */
/* ===== style list table ===== */

/* ====================== Next Page ====================== */
/* ===== Home Page CSS ===== */
/* ====================== Next Page ====================== */

/* Import CSS Files */
@import "./utilities.css";
@import "./responsive.css";

/* ===== Nav Bar ===== */
.navbar .navbar-brand img {
  max-width: 110px;
  width: 100%;
}

.navbar-nav li a {
  font-weight: 500 !important;
}

/* ===== Banner ===== */
.hero-area .paragraph {
  width: contain;
}

.hero-area h2 {
  font-weight: 700;
  font-size: 64px;
}

/* ===== How Its Work Start ===== */
.custom-border {
}

/* ===== Featured Properties start ===== */
.custom-single-featured img {
  object-fit: cover !important;
  width: 100% !important;
  overflow: hidden;
}

/* Featured Properties start */
.custom-featured-property img {
  width: 200px;
  margin-top: -40px;
}

/* Footer Start */
.custom-footer-product-list ul li {
  text-decoration: none !important;
  list-style-type: none;
}

.custom-footer-product-list ul li a:link {
  text-decoration: none !important;
}
