/* 

Template: Riode Ecommerce 
Author: Shuvo Mallick
Description: Complete ecommerce Template
Version: 1.0.0
Keywords: eCommerce, Template etc. 

*/

/* =============== *** =============== */
/* ===== Home Page css ===== */
/* ===== Login Page & Registration Page CSS ===== */
/* ===== Product Page CSS ===== */
/* ===== Blog Page CSS ===== */
/* ===== Footer CSS ===== */
/* ===== Login Page & Registration Page CSS ===== */
/* =============== *** =============== */

/* ===== style list table ===== */
/* 
  1. utilities class 
  2. header section
  3. hero section
  4. feature products section
  5. Browse Caegories 
  6. Support section 
  7. Product page 
  8. Blog page
  9. footer 
  10. login page and registration page
  */
/* ===== style list table ===== */

/* ====================== Next Page ====================== */
/* ===== Home Page CSS ===== */
/* ====================== Next Page ====================== */
